table {
  border-collapse: collapse;
  width: 750px;
}

thead {
  background-color: #2C2640;
  color: white;
  text-align: left;
}

th {
  padding: 10px;
}

td {
  padding: 5px 10px;
}

.card {
  width: 300px;
}

.color {
  width: 100px;
}

.set {
  width: 100px;
}

.card-row {
  width: 100%;
}

.even-row {
  background-color: #f2f2f2; /* Background color for even rows */
}

.odd-row {
  background-color: #ffffff; /* Background color for odd rows */
}

.content {
  margin: 0px 50px;
}
